/* -------- Estilos generales -------- */
body {
  background-color: #f5f5f5;
  color: #333;
}

/* -------- Navbar -------- */
.navbar {
  background-color: #333333;
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: #fff !important;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
  color: #ccc !important;
}

/* Hover más oscuro en el dropdown-menu */
.dropdown-menu .dropdown-item:hover {
  background-color: #ddd;
  color: #333;
}

.precio{
  color: #f97805; /* Naranja corporativo que usás en otros lados */
  font-size: 1.75rem; /* ajustá el tamaño si querés */
  font-weight: 700;
}


/* -------- Header / Banner -------- */
header {
  background-color: #f97805;
  color: #fff;
  text-align: center;
  padding: 3rem 1rem;
}

header h1 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

header p {
  font-weight: normal;
  font-size: 1.25rem;
  margin-bottom: 30px;
}

header img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

h2 {
  letter-spacing: -0.5px;   /* Letras un poco más juntas */
  margin-bottom: 1.5rem;
}

.titulo-principal {
  color: #333;               /* Gris oscuro elegante */
  font-weight: 700;         /* Negrita */
  font-size: 2.8rem;        /* Ajusta tamaño exacto */
}

/* -------- Banner titulo Productos -------- */

.titulo-productos {
  width: 100%; /* ocupa todo el ancho de la página */
  background-color: #f97805;
  color: #fff;
  text-align: left;
  padding: 2rem 0;
}


.titulo-productos h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
  line-height: 1.1;;
}

.titulo-productos p {
  font-size: 1.25rem;
  margin-bottom: 0;
  line-height: 1.2;;
}


/* -------- Botones -------- */
.btn-primary {
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 12px 24px;
  font-weight: 600;
  background-image: linear-gradient(to bottom, #7cbaf0 0%, #5ba4e6 100%);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.btn-primary:hover {
  background-image: none;
  background-color: #5ba4e6;
  color: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.btn-warning {
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 12px 24px;
  font-weight: 600;
  background-image: linear-gradient(to bottom, #ffad00 0%, #ff8700 100%);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.btn-warning:hover {
  background-image: none;
  background-color: #ff8700;
  color: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}





.producto-card {
  font-size: 0.85rem;
  border: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}
.producto-card:hover {
  transform: translateY(-5px);
}
.producto-title {
  font-weight: 600;
  font-size: 0.95rem;
  margin-bottom: 0.2rem;
}
.producto-text {
  color: #555;
  font-size: 0.8rem;
}



/* Efecto hover gris en la imagen */
.card-hover {
  transition: filter 0.3s ease, transform 0.3s ease;
}

.card-hover:hover {
  filter: brightness(0.8); /* oscurece para dar efecto gris suave */
  transform: scale(1.02);  /* efecto de zoom suave */
  cursor: pointer;
}

.productos-grid {
  max-width: 75%;
  margin: 10px;
}

.contenedor-detalle {   /* para detalles despues de las calculadoras*/
  max-width: 50%;
  margin: 0 auto;
}

#contenedorRadiosCantidad label.btn {
  width: 65px;          /* o el ancho que quieras */
  text-align: center   /* para que el número quede centrado */
}



/* -------- Footer -------- */
footer {
  background-color: #e0e0e0;
  text-align: center;
  padding: 1rem;
}

/* -------- Responsividad -------- */
@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  header p {
    font-size: 1rem;
  }

  header .btn {
    display: inline-block;
    margin-bottom: 10px;
  }
}

/* Estilo para el canvas de preview de stickers */
#previewCanvas {
  max-width: 100%;
  height: auto;
  background-color: #f8f8f8;       /* fondo base del canvas como la plancha */
  border: 1px solid #cccccc;          /* borde gris oscuro */
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3); /* sombra sutil */
  border-radius: 4px;              /* esquinas levemente redondeadas */
  display: block;
  
}

.img-hover-shadow {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.img-hover-shadow:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}


  /* recorte de tamaño de imagen*/
  
    .overlay-recorte {
      position: absolute;
      border: 2px dashed #ff0000;
      background-color: rgba(255,0,0,0.2);
      display: none;
      cursor: move;
    }
    .handle {
      width: 12px;
      height: 12px;
      background: #ff0000;
      position: absolute;
    }
    .top-left { top: -6px; left: -6px; cursor: nwse-resize; }
    .top-right { top: -6px; right: -6px; cursor: nesw-resize; }
    .bottom-left { bottom: -6px; left: -6px; cursor: nesw-resize; }
    .bottom-right { bottom: -6px; right: -6px; cursor: nwse-resize; }
    .resultado-destacado {
      font-weight: bold;
      padding: 1rem;
      background-color: #f8f9fa;
      border-radius: 0.5rem;
    }
    .medidas-crop {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: 10px;
      font-weight: bold;
      flex-wrap: wrap;
    }

    /* Controles ocultos hasta cargar imagen */
    #controles {
      display: none;
    }
  